

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-estilo::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  @apply bg-accent rounded-r-md
  }
  
  .scroll-estilo::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
  }

  .min-h-3_4{
    min-height: 75%;
  }